$color--light_cyan: hsl(193, 38%, 86%);
$color--neon_green: hsl(150, 100%, 66%);
$color--grayish_blue: hsl(217, 19%, 38%);
$color--dark_grayish_blue: hsl(217, 19%, 24%);
$color--dark_blue: hsl(218, 23%, 16%);

$ff-manrope: 'Manrope', sans-serif;

$fsz-p: 2.8rem;

// $Family: [Manrope](https://fonts.google.com/specimen/Manrope)

$fw--bolder: 800;
